/*h2 style*/
h2 {
    font-size: 18px;
}

/*target the ol ul child*/
ol li {
    color: red
}
body{
    background-color: lightblue;
}
/*target p immediately after h2*/
h2 + p {
    font-style: italic;
}

h3 + p {
    font-style: oblique;
}

div > h5 {
    color:blueviolet;
}